= simple_form_for event do |f|
  - if event.errors.any?
    #error-explanation
      %h2 #{pluralize(event.errors.count, 'error')} prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |msg|
          %li= msg

  = f.input :topic, required: true
  = f.input :start_date,
            as: :string,
            required: true,
            input_html: { class: 'js-start-date', value: formatted_date(event.start_date) }
  = f.input :end_date,
            as: :string,
            required: true,
            input_html: { class: 'js-end-date', value: formatted_date(event.end_date) }
  = f.input :city, required: true

  = f.button :submit, class: 'btn btn-primary'
