.row
  .col-xs-8
    %h1 Listing events

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Name
          %th Start date
          %th End date
          %th City
          %th Topics
          %th
          %th
          %th

      %tbody
        - @events_carrier.events.each do |event|
          %tr
            %td= event.name
            %td= formatted_date(event.start_date)
            %td= formatted_date(event.end_date)
            %td= event.city
            %td= event_topics(event)
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Event', new_event_path, class: 'btn btn-primary'

  .col-xs-4
    .row
      .col-xs-12
        %h3 Filters
        = render partial: 'event_filter', locals: { carrier: @events_carrier.event_filter_carrier }

    %br

    .row
      .col-xs-12
        %h4 Saved filters:
        - @events_carrier.saved_event_filters.each do |event_filter|
          %div
            = link_to event_filter.name,
                      events_path(@events_carrier.event_filter_filtering_params(event_filter))
            = link_to event_filter do
              %span.glyphicon.glyphicon-edit{ 'aria-hidden' => true }
            = link_to event_filter, method: :delete, data: { confirm: 'Are you sure?' } do
              %span.glyphicon.glyphicon-remove{ 'aria-hidden' => true }
