.row
  .col-xs-8
    %h1 Listing events

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Topic
          %th Start date
          %th End date
          %th City
          %th
          %th
          %th

      %tbody
        - @events.each do |event|
          %tr
            %td= event.topic
            %td= formatted_date(event.start_date)
            %td= formatted_date(event.end_date)
            %td= event.city
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Event', new_event_path, class: 'btn btn-primary'

  .col-xs-4
    %h3 Filters
